<section class="products-section dynamic-section">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home/products" class="breadcrumb-link">Products</a>
            </li>
        </ul>
        <div class="wrapper flex pb-[15px]">
            <aside class="sidenav px-[15px] hidden md:block">
                <h2 class="text-xl pb-4">Categories</h2>
                <ul class="categories-list">
                    <li class="category-item">
                        <a [routerLink]="['/home/products/',]" class="category-link flex px-[10px]"
                            [ngClass]="defaultLinkActive ? 'active' : '' ">All</a>
                    </li>
                    <li class="category-item" *ngFor="let item of categories">
                        <a [routerLink]="['/home/products/',item?.prod_cat_name]" routerLinkActive="active"
                            class="category-link flex px-[10px] capitalize">{{item?.prod_cat_name}}</a>
                    </li>
                  
                </ul>
            </aside>
            <article class="products-list-container flex-grow">
                <div class="filter-container flex flex-col items-center md:flex-row md:justify-end">
                    <ul class="categories-list-sp flex flex-wrap justify-center md:hidden">
                        <li class="category-item">
                            <a [routerLink]="['/home/products/',]" class="category-link flex px-[10px]"
                                [ngClass]="defaultLinkActive ? 'active' : '' ">All</a>
                        </li>
                        <li class="category-item" *ngFor="let item of categories">
                            <a [routerLink]="['/home/products/',item?.prod_cat_name]" routerLinkActive="active"
                                class="category-link flex px-[10px] capitalize">{{item?.prod_cat_name}}</a>
                        </li>
                    </ul>
                    <form [formGroup]="sortForm">
                        <label for="list-filter" class="pr-2">Sort By:</label>
                        <select name="list-filter" id="list-filter" class="filter-list"
                            (change)="changeFilterData($event)" formControlName="sortSelect" #sortSelect>
                            <option value="default">Best Match</option>
                            <option value="priceLowToHigh">Price low to high </option>
                            <option value="priceHighToLow">Price high to low </option>
                        </select>
                    </form>

                </div>
                <ul class="grid-list w-full pt-[20px]">
                    <li class="grid-list-item" *ngFor="let item of products">
                        <app-productcard [item]="item"></app-productcard>
                    </li>
                </ul>
                <div class="pagination-section py-[8px] flex justify-between">
                    <div class="showing-page text-sm flex items-center">
                        Showing {{currentPage}} of {{totalPages}} pages
                    </div>
                    <div class="pagination-actions flex items-center">
                        <button class="circle-button" (click)="prevPage()">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                        </button>
                        <span class="circle-outline-button mx-2">{{currentPage}}</span>
                        <button class="circle-button" (click)="nextPage()">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </article>
        </div>

    </div>
</section>