<div class="checkoutform-section dynamic-section bg-[#e1e1e1]">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home/cart" class="breadcrumb-link">Cart</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-link">Checkout Success</a>
            </li>
        </ul>
        <article class="checkoutform-container flex flex-col items-center text-center">
            <h2 class="text-primary text-[20px] md:text-[36px] mb-[5px]">Thank you for shopping with us!!!</h2>
            <h2 class="text-[16px] md:text-[25px]">Your order has been added, your will be contacted through email and
                phone within 1-2 days!</h2>
            <div class="go-to-products flex my-[20px]">
                <button routerLink="/home/products" type="button" class="flex p-[5px_20px] bg-primary text-lg text-white rounded-full">
                    Continue Shopping?
                </button>
            </div>
        </article>
    </div>
</div>