<td>{{i!+1}}</td>
<td>
    <a class="edit-category-name-link cursor-pointer text-blue-600" (click)="toggleCategoryModal(item.cat_id)">
        {{item.category_name}}
    </a>
</td>
<td>{{item.product_count}}</td>
<td>
	<div class="options-dropdown">
        <button type="button" (click)="toggleDropdown()">
            <fa-icon [icon]="faEllipsis"></fa-icon>
        </button>
        <ul class="dropdown-list" [ngClass]="showDropdown ? 'block' : 'hidden'">
            <li class="dropdown-list-item">
                <a  class="dropdown-list-link" (click)="toggleCategoryModal(item.cat_id)">Edit</a>
            </li>
            <li class="dropdown-list-item">
                <a class="dropdown-list-link" (click)="deleteCategory(item.cat_id)">Delete</a>
            </li>
        </ul>
    </div>
</td>
