<section class="product-detail-section dynamic-section">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home/products" class="breadcrumb-link">Products</a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/home/products/',prodCatName]"
                    class="breadcrumb-link">{{prodCatName}}</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-link">{{productDetail?.prod_name}}</a>
            </li>
        </ul>
        <article
            class="product-detail-card lg:h-[620px] h-auto" [ngClass]="productDetail?.prod_inStock ? '' : 'p-[15px]'">
            <div class="card-ribbion" [ngClass]="productDetail?.prod_inStock ? 'hidden' : 'block'">
                <span class="label-text">Out of Stock</span>
            </div>
            <div class="product-detail-inner flex flex-col items-center md:flex-row md:items-center w-full h-full p-[12px] md:p-[25px] rounded-[10px] bg-[#efefef] shadow-lg">
                <aside class="product-img-container w-full h-full" [ngClass]="productDetail?.prod_inStock ? 'max-w-[275px] lg:max-w-[420px]' : 'max-w-[275px] lg:max-w-[400px]'">
                    <img src={{selectedProductImage}} alt="" class="w-full h-full object-contain">
                </aside>
                <article class="product-detail-list md:pl-[25px] pt-[12px] md:pt-[30px] flex-grow flex flex-col sm:items-center md:items-start w-full">
                    <div class="product-name-price flex-[1_0_calc(100%/4)] text-center md:text-start">
                        <h3 class="text-[22px] lg:text-[28px]">{{productDetail?.prod_name}}</h3>
                        <h5 class="text-[25px] md:text-[32px] text-primary">Rs.&nbsp;{{productDetail?.prod_price}}</h5>
                    </div>
                    <div class="product-category pb-[10px] md:pb-[20px] text-center md:text-[22px]">
                        <span class="label-text pr-[12px]">Category:</span>
                        <a [routerLink]="['/home/products/',prodCatName]" class="category-name text-primary">{{prodCatName}}</a>
                    </div>
                    <div class="product-quantity flex items-center justify-center flex-wrap pb-[15px] md:pb-[20px]">
                        <span class="label-text pr-[12px] text-lg">Quantity:</span>
                        <div class="quantity-setting flex items-center">
                            <button class="decrease-quantity h-[40px] w-[40px] px-3 py-2 bg-slate-300" type="button"
                                (click)="decreaseQuantity()">
                                <fa-icon [icon]="faMinus"></fa-icon>
                            </button>
                            <!-- <div class="product-quantity-data text-xl px-5 w-[35px] flex justify-center items-center">
                                {{productQuantity}}</div> --> 
                            <input type="number" name="" id="" [value]="productQuantity" class="hide-arrows product-quantity-num max-w-[80px] px-[8px] h-[40px] mx-[2px] text-xl text-center" (change)="setProductQuantity($event)" required #productQuantityInput>
                            <button class="increase-quantity h-[40px] w-[40px] px-3 py-2 bg-slate-300" type="button"
                                (click)="increaseQuantity()">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="product-actions flex flex-col w-full sm:w-auto sm:flex-row sm:items-center">
                        <button type="button"
                            class="px-[30px] py-[8px] text-lg mb-3 sm:mb-0 sm:mr-3 bg-outline-primary text-primary" [ngClass]="productDetail?.prod_inStock ? '' : 'disabled' " [disabled]="productDetail?.prod_inStock === false" (click)="addToCart()">
                            Add to cart
                        </button>
                        <button type="button" class="px-[30px] py-[8px] text-lg bg-primary text-white" [ngClass]="productDetail?.prod_inStock ? '' : 'disabled' " [disabled]="productDetail?.prod_inStock === false" (click)="buyNow()">Buy Now</button>
                    </div>
                </article>
            </div>

        </article>

        <article class="related-products py-[25px] md:py-[60px]" *ngIf="relatedProducts!.length > 0">
            <h2 class="text-xl md:text-3xl lg:text-4xl pb-[15px] lg:pb-[40px] text-center">Related Products</h2>
            <div class="related-products-container">
                <button class="scroll-btn scroll-left circle-button" (click)="scrollLeft()">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </button>
                <button class="scroll-btn scroll-right circle-button" (click)="scrollRight()">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </button>
                <ul class="product-list grid-list-nowrap w-full" #scrollContainer>
                    <li class="product-list-item grid-list-item" *ngFor="let item of relatedProducts">
                        <app-productcard [item]="item"></app-productcard>
                    </li>
                </ul>
            </div>

        </article>
    </div>
</section>