<section class="product-detail-section static-section">
    <div class="inner-container flex items-center">
        <article class="product-detail-card flex w-full p-[25px] rounded-[10px] bg-[#f1f1f1]">
            <aside class="product-img-container w-full max-w-[350px] h-auto">
                <img src={{productDetail?.img}} alt="" class="w-full h-full object-contain">
            </aside>
            <article class="product-detail-list pl-[25px] pt-[30px] flex-grow">
                <h3 class="text-[22px]">{{productDetail?.name}}</h3>
                <h5 class="text-[32px]">{{productDetail?.price}}</h5>
            </article>
        </article>
    </div>
</section>