<section class="content h-full">
    <div class="inner-container h-full flex items-center">
        <article class="intro-section w-[50%]">
            <div class="text-content mb-[30px]">
                <p class="text-xl">Hello, welcome to</p>
                <h2 class="text-[60px]">Sanus's Nursery</h2>
                <p class="text-xl">
                    We specilize in growing plants ranging from vegetables to flowers and everything in between.
                    We sell greminated plants which is ready for you to plant directly.
                </p>
            </div>

            <a class="view-products-btn inline-flex rounded-full px-[20px] py-[8px] bg-[#175f0f] text-white"
                role="button">View Products</a>
        </article>
    </div>
</section>