<section class="intro-section static-section content">
    <div class="inner-container flex items-center">
        <article class="intro-section-content w-[50%]">
            <div class="text-content mb-[30px]">
                <p class="text-lg text-primary">Hello, welcome to</p>
                <h2 class="text-[60px] company-name">Sanus's Nursery</h2>
                <p class="text-lg">
                    We specilize in growing plants ranging from vegetables, fruits to flowers and everything in between.
                    We sell greminated plants which is ready for you to plant directly.
                </p>
            </div>

            <a class="view-products-btn inline-flex rounded-full px-[20px] py-[8px] bg-primary text-white"
                role="button">View Products</a>
        </article>
    </div>
</section>

<section class="product-section dynamic-section overflow-y-auto">
    <div class="inner-container h-full flex items-center justify-center">
        <article class="product-list-container py-[60px] w-full">
            <h2 class="text-5xl pb-[40px] text-center">Our Products</h2>
            <ul class="product-list grid-list w-full pb-[40px]">
                <li class="product-list-item grid-list-item" *ngFor="let item of plants">
                    <app-productcard [item]="item"></app-productcard>
                </li>
            </ul>
            <div class="load-more text-center">
                <a href="" class="inline-flex rounded-full px-[20px] py-[8px] bg-primary text-white" role="button">View More</a>
            </div>
        </article>
    </div>
</section>