<div class="category-modal-wrapper modal-wrapper"
    *ngIf="categoryModal?.visible">
    <div class="login-modal modal-main">
    	 <button class="circle-button modal-close-btn"
            (click)="close()" type="button">
            <fa-icon [icon]="faClose" class="flex items-center"></fa-icon>
        </button>
        <div class="modal-header pb-[10px]">
        	<h2 class="modal-title text-primary font-bold company-name text-2xl text-center">{{formMode === 'add' ? 'Add Category' : 'Edit Category'}}</h2>
        </div>
        <div class="modal-body">
        	<form class="category-form form-layout" [formGroup]='categoryForm'>
        		<div class="form-row">
	        		<div class="form-group">
	        			<label for="category-name" class="form-label">Category Name</label>
	        			<input type="text" name="category-name" id="category-name" class="form-control" placeholder="Category name..." formControlName="category_name" [ngClass]="categoryNameErr ? '!border-red-600': ''">
	        			<div class="err-msg text-red-700 text-sm" *ngIf="categoryNameErr">
	        				{{categoryNameErrMsg}}
	        			</div>
	        		</div>	

        		</div>
        		<div class="form-row">
	        		<div class="form-group inline-flex justify-center">
	        			<button class="bg-admin-primary rounded-md p-[5px_15px] text-base text-white" (click)="submit()">
	        				Submit
	        			</button>
	        		</div>	
        		</div>
        		
        	</form>
        </div>
    </div>
</div>
