.order-detail-container{
	display: grid;
	gap: 15px;
	>*{
		min-width: 0px;
	}
}

.action-card{
	.inner{
		justify-content: center;
	}
}

.payment-detail-card,
.order-detail-card,
.user-detail-card{
	.detail-card-body{
		.data-table{
			tbody{
				tr{
					display: flex;
					flex-direction: column;
					td{
						display: flex;
						align-items: center;
						&:nth-child(odd){
							background: #efefef;
						}
						&:before{
							content: attr(data-name) ":"; 
							text-transform: capitalize;
							font-weight: 500;
							font-size: 17px;
							padding-right: 20px;
						}
						>*{
							display: inline-flex;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.order-detail-container{
		grid-template-columns: 55% auto;

		.payment-detail-card{
			grid-row: 1/3;
			grid-column: 2;
		}

		.order-items-detail-card{
			grid-column: 1;
			grid-row: 2/10;
			max-height: 470px;
		}

		.order-detail-card{
			grid-column: 1;
			grid-row: 1;
		}

		.user-detail-card{
			grid-column: 2;
			grid-row: 3/5;
		}

		.action-card{
			grid-row: 5/10;
			grid-column: 2;
		}

	}
}

@media screen and (min-width: 1390px){
	.order-detail-container{
		grid-template-columns: 70% auto;
	}
}

@media screen and (min-width: 1440px){
	.order-detail-container{
		grid-template-columns: 35% 30% auto;

		.user-detail-card{
			grid-column: 3;
			grid-row: 1/3;
		}
		.payment-detail-card{
			grid-column: 2;
			grid-row: 1/3;
		}
		.action-card{
			grid-column: 1;
			grid-row: 1/2;
			// background: none!important;
			// box-shadow: none!important;
			// padding: 0!important;
			// display: flex;
			// justify-content: flex-end;
			// .inner{
			// 	justify-content: flex-start;
			// }
		}
		.order-detail-card{
			grid-row: 2/3;
		}

		.order-items-detail-card{
			grid-row: 3/10;
			grid-column: 1/4;
		}

	}
}