<section class="order-detail-section admin-section-component">
    <header class="order-detail-header admin-section-header">
        <h2 class="header-text">Order Detail</h2>
    </header>
    <article class="order-detail-container admin-section-body !bg-transparent !flex-none !shadow-none">

        <div class="order-detail-card detail-card">
            <div class="detail-card-header flex items-center justify-between gap-3">
                <h2 class="header-text text-[18px] md:text-[21px] ">Order</h2>
                <button class="edit-order flex items-center justify-center" (click)="showModal(order?.order_id,'order',{
                    order_number: order?.order_number,
                    order_status: order?.order_status,
                    order_date: order?.order_date
                })">
                    <fa-icon [icon]="faPenToSquare" class="flex items-center justify-center text-[18px] text-black"></fa-icon> 
                </button>                
            </div>
            <div class="detail-card-body">
                <div class="table-container h-full">
                    <table class="data-table">
                        <!-- <thead>
                            <tr>
                                <th>Order Created At</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User Type</th>
                                <th>Contact</th>
                                <th>Delivery Address</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr>
                                <td data-name="order number">
                                    <div class="order-number">
                                        <!-- <span class="label-text font-semibold">Order No:</span> -->
                                        <span class="order-number-text pl-3 text-primary">{{order?.order_number}}</span>
                                    </div>
                                </td>
                                <td data-name="order status">
                                    <div class="order-status flex items-center">
                                      <!--   <div class="label-text font-semibold pr-3"> Order Status:
                                        </div> -->
                                        <div class="status" [ngClass]="order?.order_status === 'PENDING' ? 'pending' : order?.order_status === 'COMPLETED' ? 'completed' : 'cancelled'">
                                            {{order?.order_status}}
                                        </div>
                                    </div>
                                </td>
                                <td data-name="order date">{{order?.order_date}}</td>
                                <!-- td data-name="user name">{{order.user_name}}</td>
                                <td data-name="user email">{{order.user_email}}</td>
                                <td data-name="user type">
                                    <div class="" *ngIf="order.user_id === null; else registered">
                                        Guest
                                    </div>
                                    <ng-template #registered>Registered User</ng-template>
                                </td>
                                <td data-name="user contact">{{order.user_contact}}</td>
                                <td data-name="delivery address">{{order.delivery_address}}</td> -->
                            </tr>
                        </tbody>
                    </table>    
                </div>
                
            </div>
        </div>

        <div class="order-items-detail-card detail-card">
            <div class="detail-card-header flex items-center justify-between">
                <h2 class="header-text text-[18px] md:text-[21px]">
                    Order Items
                </h2>
                <button class="edit-order flex items-center justify-center">
                    <fa-icon [icon]="faPenToSquare" class="flex items-center justify-center text-[18px] text-black"></fa-icon> 
                </button>
            </div>
            <div class="detail-card-body overflow-y-auto h-full">
                <div class="table-container h-full overflow-y-auto">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orderItems;let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <div class="flex items-center">
                                        <div class="img-container w-[90px] h-[90px] flex-[0_0_90px] rounded-md overflow-hidden flex items-center justify-center">
                                            <img class="w-full h-auto object-contain" src="{{item.image_url}}" alt=""> 
                                        </div>
                                        <h2 class="product-name pl-[10px] flex-grow">{{item?.prod_name}}</h2>
                                    </div>
                                </td>
                                <td>
                                    {{item?.prod_category}}
                                </td>
                                <td>
                                    Rs.&nbsp;{{item?.prod_price}}
                                </td>
                                <td>
                                    {{item?.product_quantity}}
                                </td>
                                <td>
                                    Rs.&nbsp;{{item?.prod_price * item?.product_quantity}}
                                </td>
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="payment-detail-card detail-card">
            <div class="detail-card-header flex items-center justify-between">
                <h2 class="header-text text-[18px] md:text-[21px]">
                   Payment Detail 
                </h2>
                <button class="edit-order flex items-center justify-center" (click)="showModal(order?.order_id,'payment detail',{
                    payment_date: paymentDetail?.payment_date,
                    total_amount: paymentDetail?.total_amount,
                    payment_type: paymentDetail?.payment_type,
                    payment_status: paymentDetail?.payment_status
                })">
                    <fa-icon [icon]="faPenToSquare" class="flex items-center justify-center text-[18px] text-black"></fa-icon> 
                </button>
            </div>
            <div class="detail-card-body">
                <div class="table-container h-full">
                    <table class="data-table">
                       <!--  <thead>
                            <tr>
                                <th>Payment Date</th>
                                <th>Total Amount</th>
                                <th>Payment Type</th>
                                <th>Payment Status</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr>
                                <td data-name="payment date">{{paymentDetail?.payment_date }}</td>
                                <td data-name="total">Rs.&nbsp;{{paymentDetail?.total_amount}}</td>
                                <td data-name="payment type">
                                    <div *ngIf="paymentDetail?.payment_type === 1;else logoContainer">
                                        <div class="cash-on-delivery flex items-center gap-2">
                                            <span class="icon-container h-[24px] w-[24px] flex items-center justify-center">
                                                <fa-icon [icon]="faCashWave"
                                                    class="text-[20px] flex items-center justify-center text-[#56a83f]"></fa-icon>
                                            </span>
                                            <span class="lable-text">
                                                Cash On Delivery
                                            </span>
                                        </div>
                                    </div>
                                    <ng-template #logoContainer>
                                        <div class="img-container-md">
                                            <div class="logo-container"
                                                [ngClass]="paymentDetail?.payment_type === 2 ? 'esewa' : paymentDetail?.payment_type === 3 ? 'khalti' : ''"></div>
                                        </div>
                                    </ng-template>
                                </td>
                                <td data-name="payment status">
                                    <div class="status"
                                        [ngClass]="paymentDetail?.payment_status === 'PENDING' ? 'pending' : paymentDetail?.payment_status === 'COMPLETED' ? 'completed' : paymentDetail?.payment_status === 'CANCELLED' ? 'cancelled' : ''">
                                        {{paymentDetail?.payment_status}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="user-detail-card detail-card">
            <div class="detail-card-header flex items-center justify-between">
                <h2 class="header-text text-[18px] md:text-[21px]">User Detail</h2>
                <button class="edit-order flex items-center justify-center" (click)="showModal(order?.order_id,'user detail',{
                    user_name: order?.user_name,
                    user_email: order?.user_email,
                    user_contact: order?.user_contact,
                    user_address: order?.delivery_address
                })">
                    <fa-icon [icon]="faPenToSquare" class="flex items-center justify-center text-[18px] text-black"></fa-icon> 
                </button>
            </div>
            <div class="detail-card-body">
                <div class="table-container h-full">
                    <table class="data-table">
                        <tbody>
                            <tr>
                                <td data-name="user name">
                                    {{order?.user_name}}
                                </td>
                                <td data-name="user email">
                                    {{order?.user_email}}
                                </td>
                                <td data-name="user type">
                                    <div class="" *ngIf="order?.user_id === null; else registered">
                                        Guest
                                    </div>
                                    <ng-template #registered>
                                        Registered User
                                    </ng-template>
                                </td>
                                <td data-name="user contact">
                                    {{order?.user_contact}}
                                </td>
                                <td data-name="delivery address">
                                    {{order?.delivery_address}}
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>

        <div class="action-card detail-card">
            <div class="flex justify-center gap-3 inner">
                <button class="flex items-center justify-center bg-outline-primary text-primary p-[10px_15px] rounded-md" [routerLink]="['/admin/add-order', order?.order_id]">
                    <span class="icon-container flex items-center justify-center">
                        <fa-icon [icon]="faPenToSquare" class="text-[18px]"></fa-icon>
                    </span>
                <span class="label-text pl-2">
                    Bulk Edit
                </span>
            </button>
                <button class="flex items-center justify-center bg-primary text-white p-[10px_15px] rounded-md">Download PDF</button>
        
            </div>
        </div>
    </article> 


</section>