<td>{{index+1}}</td>
<td>
<div class="flex items-center py-[10px]">
    <div
        class="img-container w-[90px] h-[90px] flex-[0_0_90px] rounded-md overflow-hidden flex items-center justify-center bg-blue-300 cursor-pointer "  [routerLink]="['/admin/add-product',item.prod_id]">
        <img src="{{item.prod_img}}" alt="" class="w-full h-auto object-contain">
    </div>
    <h2 class="product-name pl-[10px] flex-grow">{{item.prod_name}}</h2>
    </div>
</td>
<td>
    <h2 class="product-category">{{item.prod_category}}</h2>
</td>
<td>
    <h2 class="product-price">{{item.prod_price}}</h2>
</td>
<td>
    <h2 class="product-inStock">{{item.prod_inStock}}</h2>
</td>
<td>
    <div class="options-dropdown">
        <button type="button" (click)="toggleDropdown()">
            <fa-icon [icon]="faEllipsis"></fa-icon>
        </button>
        <ul class="dropdown-list" [ngClass]="showDropdown ? 'block' : 'hidden'">
            <li class="dropdown-list-item">
                <a [routerLink]="['/admin/add-product',item.prod_id]" class="dropdown-list-link">Edit</a>
            </li>
            <li class="dropdown-list-item">
                <a class="dropdown-list-link" (click)="deleteProduct(item.prod_id)">Delete</a>
            </li>
        </ul>
    </div>
</td>
