<nav class="main-nav bg-[#60a151] text-white py-3 sticky top-0">
    <div class="inner-container  flex items-center justify-between ">

        <a href="#" class="brand-link block text-2xl">Sanu's Nursery</a>
        <span class="search-container relative w-[25%]">
            <input type="text" name="search-plant" id="search-plant"
                class="rounded-md p-[4px_35px_4px_8px] text-xl text-black w-full" placeholder="Search plants">
            <span
                class="icon-container h-[25px] w-[25px] flex items-center justify-center absolute top-[50%] right-[6px] translate-y-[-50%]">
                <fa-icon [icon]="faSearch" class="text-black"></fa-icon>
            </span>
        </span>
        <ul class="nav-list flex items-center text-xl">
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">Contact</a>
            </li>
        </ul>

    </div>
</nav>