<nav class="contact-us bg-primary text-white hidden md:block">
    <div class="inner-container flex justify-end py-2">
        <div class="contact-data">
            <span class="label-text pr-3">
                Call Us
            </span>
            <span class="contact">
                <fa-icon [icon]="faPhone"></fa-icon>
                <span class="phone-num pl-2">+9779851243855 ,</span>
                <span class="phone-num pl-2">+9779841218573</span>
            </span>
        </div>
    </div>

</nav>
<nav class="main-nav sticky top-0 bg-[#e1e1e1] shadow-lg z-10">
    <div class="inner-container py-5 flex items-center justify-between ">

        <a routerLink="/home" class="brand-link block text-2xl company-name">Sanu's Nursery</a>

        <ul class="nav-list hidden md:flex items-center text-lg">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link flex px-3">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/home/products" class="nav-link flex px-3">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link flex px-3">Contact</a>
            </li>
        </ul>
        <ul class="user-actions-list hidden md:flex items-center">
            <li class="user-actions-item px-2">
                <button class="search-container relative">
                    <span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
                        <fa-icon [icon]="faSearch" class=""></fa-icon>
                    </span>
                </button>
            </li>
            <div class="user-actions-item px-2">
                <button class="cart-container relative">
                    <span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
                        <fa-icon [icon]="faCartShopping" class=""></fa-icon>
                    </span>
                </button>
            </div>
        </ul>
        <button type="button" class="icon-container md:hidden">
            <span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
                <fa-icon [icon]="faBars" class="flex items-center text-lg"></fa-icon>
            </span>
        </button>

    </div>
</nav>