<section class="admin-products-section admin-section-component">
    <header class="admin-products-header admin-section-header">
        <h2 class="header-text">Products</h2>
        <a routerLink="/admin/add-product" role="button" class="bg-admin-primary rounded-md p-[5px_15px] text-base text-white">
            Add Product
        </a>
    </header>

    <article
        class="products-list-container admin-section-body flex flex-col overflow-hidden">
        <app-data-grid 
            [productsList]="productsList" 
            [page]=page 
            [pageSize]=pageSize 
            [totalPages]=totalPages
            [totalProducts]="totalProducts" 
            (nextPageEvent)="nextPage($event)" 
            (prevPageEvent)="prevPage($event)" 
            (changePageSizeEvent)="changePageSize($event)"
            (firstPageEvent)="firstPage($event)" 
            (lastPageEvent)="lastPage($event)"
            (searchTextEvent)="searchProduct($event)"
            class="contents">
        </app-data-grid>
    </article>
</section>