<div class="wrapper h-auto w-full" [ngClass]="showSideNav || showSearch || showLogin || showConfirm ? 'fixed' : 'relative'">
    <app-toast></app-toast>
    <app-confirm-dialog (toggleConfirm)="toggleConfirm(false)"></app-confirm-dialog>
    <app-login (toggleLogin)="toggleLogin(false)"></app-login>
    <div class="offscreen-sidenav-container w-full h-full absolute top-0 right-0 bottom-0 bg-[#0909097a] z-[530] justify-end"
        [ngClass]="showSideNav ? 'flex' : 'hidden'">
        <nav class="offscreen-sidenav-container max-w-[500px] w-[90%] h-full bg-[#e1e1e1] p-[15px]">
            <div class="top-content flex justify-between">
                <button class="circle-button" (click)="toggleSideNav(false)" type="button">
                    <fa-icon [icon]="faClose"></fa-icon>
                </button>
                <!-- <button class="circle-outline-button" (click)="toggleSideNav()" type="button">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button> -->
            </div>
            <ul class="menu-list py-[25px]">
                <li class="menu-list-item">
                    <!-- <a role="button"
                        class="cart-container relative flex items-center p-[5px_15px] bg-outline-primary rounded-full text-primary mb-[10px]"
                        (click)="showLoginModal()">
                        <span class="icon-container flex items-center justify-center">
                            <fa-icon [icon]="faCircleUser" class="text-primary text-xl"></fa-icon>
                        </span>
                        <span class="label-text text-sm pl-2">Sign In</span>
                    </a> -->
                    <div class="auth-user-dropdown relative" *ngIf="!checkObject(userData); else loginModal">
                        <button type="button"
                            class="cart-container relative flex items-center w-full border-b border-slate-500 mb-[10px] pb-[10px]"
                            (click)="toggleDropDown()">
                            <span
                                class="icon-container flex w-[50px] h-[50px] flex-[0_0_50px] items-center justify-center rounded-full bg-blue-400">
                                <!-- <fa-icon [icon]="faCircleUser" class="text-2xl"></fa-icon> -->
                                <img src="" class="w-full h-auto object-contain">
                            </span>
                            <a class="flex flex-col user-profile-content flex-grow text-left pl-[10px]">
                                <span class="user_name text-lg font-semibold">{{userData?.user_name}}</span>
                                <span class="user_email text-sm">{{userData?.user_email}}</span>
                            </a>
                            <span
                                class="icon-container h-[25px] w-[25px] flex items-center justify-center items-center">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </span>
                        </button>
                        <div class="dropdown mb-[10px] border-b border-slate-500"
                            [ngClass]="showDropDown ? 'block' : 'hidden'">
                            <ul class="user-actions-dropdown-list pb-[10px] pl-[25px]">
                                <li class="user-actions-item" *ngIf="userData?.user_role === 'admin'">
                                    <a routerLink="/admin" class="user-actions-link flex py-[5px]">Dashboard</a>
                                </li>
                                <li class="user-actions-item">
                                    <a routerLink="/admin/products" class="user-actions-link flex py-[5px]">Products</a>
                                </li>
                                <li class="user-actions-item">
                                    <a routerLink="/admin/orders" class="user-actions-link flex py-[5px]">Orders</a>
                                </li>
                                <li class="user-actions-item">
                                    <a routerLink="/admin" class="user-actions-link flex py-[5px]">Users</a>
                                </li>
                                <li class="user-actions-item">
                                    <a routerLink="/admin" class="user-actions-link flex py-[5px]">Messages</a>
                                </li>
                                <li class="user-actions-item">
                                    <a role="button" class="user-actions-link flex py-[5px]"
                                        (click)="logout()">Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <ng-template #loginModal>
                        <a role="button"
                            class="cart-container relative flex items-center p-[2px_10px] bg-outline-primary rounded-full text-primary mb-[10px]"
                            (click)="showLoginModal()">
                            <span class="icon-container flex items-center justify-center">
                                <fa-icon [icon]="faCircleUser" class="text-primary text-xl"></fa-icon>
                            </span>
                            <span class="label-text text-xl pl-2">Sign In</span>
                        </a>
                    </ng-template>

                </li>
                <li class="menu-list-item">
                    <a routerLink="/home/" class="menu-list-link flex p-[5px_15px]"
                        [ngClass]="defaultLinkActive ? 'active' : ''" (click)="toggleSideNav(false)">Home</a>
                </li>
                <li class="menu-list-item">
                    <a routerLink="/home/products" routerLinkActive="active" class="menu-list-link flex p-[5px_15px]"
                        (click)="toggleSideNav(false)">Products</a>
                </li>
                <li class="menu-list-item">
                    <a routerLink="/home/about" routerLinkActive="active" class="menu-list-link flex p-[5px_15px]"
                        (click)="toggleSideNav(false)">About</a>
                </li>
                <li class="menu-list-item">
                    <a routerLink="/home/contact" routerLinkActive="active" class="menu-list-link flex p-[5px_15px]"
                        (click)="toggleSideNav(false)">Contact</a>
                </li>

            </ul>

        </nav>
    </div>
    <div class="search-modal-container absolute h-screen w-full top-0 right-0 bottom-0 bg-[#0909097a] z-[700] p-[20px] items-center md:justify-center"
        [ngClass]="showSearch ? 'flex' : 'hidden' ">
        <div
            class="search-modal w-full h-[65%] md:max-w-[740px] md:max-h-[625px] md:w-[75%] rounded-[10px] bg-[#efefef] p-[15px] flex flex-col relative">
            <button class="circle-button absolute top-[calc(calc(35px/2)*-1)] right-[calc(calc(35px/2)*-1)]"
                (click)="toggleSearch()" type="button">
                <fa-icon [icon]="faClose" class="flex items-center"></fa-icon>
            </button>
            <form [formGroup]="searchForm" class="seach-plants py-[15px]">
                <div class="form-group flex relative">
                    <span class="absolute search-text-icon top-[6px] right-[6px] flex items-center">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </span>
                    <input type="text" name="search-text" id="search-text"
                        class="w-full pr-[25px] form-control flex-grow p-[5px]" placeholder="Search Plants"
                        formControlName="searchText" (input)="search($event)" #searchText>
                </div>
            </form>
            <div class="search-result overflow-y-auto">
                <ul class="search-result-list">
                    <li class="search-result-item" *ngFor="let item of searchResults">
                        <a [routerLink]="['/home/product/', item.prod_id]" class="search-result-link flex p-[5px_10px]"
                            (click)="toggleSearch()">
                            {{item.prod_name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-contact-header class="homepage-contact-us" *ngIf="showContactUs"></app-contact-header>
    <app-navigation (toggleSideNav)="toggleSideNav(true)" (toggleSearch)="toggleSearch()"
        (toggleLogin)="toggleLogin(true)" *ngIf="showNavbar" class="fixed z-[500]"
        [ngClass]="showContactUs? 'top-[64px] md:top-[40px]' : 'top-0'"
        [ngClass]="navbarTop ? 'top-0' : ''"></app-navigation>
    <main class="main-content h-auto pt-[60px] md:pt-[72px] bg-[#e1e1e1]">
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>