<section class="admin-orders-section admin-section-component">
    <header class="admin-section-header orders-headers">
        <h2 class="header-text">Orders</h2>
    </header>
<article
        class="orders-list-container admin-section-body flex flex-col overflow-hidden">
        <app-orders-data-grid 
            [orderList]="orders" 
            [currentPage]=currentPage 
            [totalPages]=totalPages
            [totalItems]=totalItems
            (nextPageEvent)="nextPage($event)" 
            (prevPageEvent)="prevPage($event)" 
            (changePageSizeEvent)="changePageSize($event)"
            (firstPageEvent)="firstPage($event)" 
            (lastPageEvent)="lastPage($event)"
            class="contents">
        </app-orders-data-grid>
    </article>
</section>