<ng-container *ngIf="this.confirmService.showBox$ | async as confirm">
	<div class="modal-wrapper" *ngIf="confirm.show">
		<div class="modal-main border-2 border-slate-400" >
			<div class="label-text text-lg pb-4">
				{{ confirm.message }}
			</div>	
			<div class="action-section flex justify-end gap-2">
				<button type="button" class="bg-admin-primary rounded-md text-white p-[5px_15px] text-base bg-outline-admin-primary" (click)="onConfirm()">Yes</button>
				<button type="button" class="bg-outline-admin-primary rounded-md text-primary p-[5px_15px] text-base" (click)="onCancel()">Cancel</button>
			</div>
		</div>	
	</div>
	
</ng-container>
