<div class="login-modal-wrapper absolute h-screen w-full  bg-[#0909097a] flex items-center justify-center z-[9999] p-[20px]"
    *ngIf="loginModal?.visible">
    <div class="login-modal max-w-[390px] w-[90%] bg-white rounded-md p-[15px] md:p-[25px] relative">
        <button class="circle-button absolute top-[calc(calc(35px/2)*-1)] right-[calc(calc(35px/2)*-1)]"
            (click)="close()" type="button">
            <fa-icon [icon]="faClose" class="flex items-center"></fa-icon>
        </button>
        <div class="modal-header ">
            <h4 class="modal-title text-3xl text-primary font-bold text-center company-name">{{loginModal?.message}}</h4>
        </div>
        <div class="modal-body py-[30px]">
            <a class="login-google p-[10px_15px] border border-slate-400 rounded-full text-base text-center mb-[10px] text-black font-semibold block" role="button">
                Continue with Google
            </a>
            <a class="login-google p-[10px_15px] border border-slate-400 rounded-full text-base text-center mb-[10px] text-black font-semibold block" role="button">
                Continue with Facebook 
            </a>
        </div>
    </div>
</div>