<nav class="contact-us bg-primary text-white block text-[14px] md:text-base">
    <div class="inner-container flex md:justify-end py-2">
        <div class="contact-data flex flex-col md:flex-row">
            <div class="label-text pr-3">
                Call Us
            </div>
            <div class="contact">
                <span class="icon-container">
                    <fa-icon [icon]="faPhone"></fa-icon>
                </span>
                <a href="tel:+9779851243855" class="phone-num px-2">+9779851243855, </a>
                <a href="tel:+9779841218573" class="phone-num">+9779841218573</a>
            </div>
        </div>
    </div>
</nav>
