<section class="contact-us-section dynamic-section">
    <div class="inner-container ">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home/contact" class="breadcrumb-link">Contact</a>
            </li>
        </ul>
        <div class="spacer h-[calc(100vh-30px)] lg:h-auto pb-[30px]">

        <article
            class="contact-us-form-section rounded-[10px] bg-[#efefef] shadow-lg flex h-full overflow-hidden">

            <aside class="img-container max-w-[50%] hidden lg:block">
                <img src={{loginImg}} alt="">
            </aside>
            <article class="contact-us-form-container flex-grow w-full lg:pl-[20px] h-auto p-[15px] md:p-[25px]">
                <form class="contact-us-form h-full flex flex-col" [formGroup]="userMessageForm"
                    (submit)="sendMessage()">
                    <h2 class="header-text text-[20px] md:text-[30px] pb-[12px] md:pb-[20px] font-[500]">Contact Us</h2>
                    <div class="form-row flex flex-col h-[calc(100%-130px)]">
                        <div class="form-group">
                            <label for="first_name" class="required-label">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control"
                                placeholder="Your First Name" formControlName="first_name" required>
                            <div class="invalid-message text-sm font-medium text-red-700" *ngIf="errorFtName">
                                {{errorFtNameMsg}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="required-label">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control"
                                placeholder="Your Last Name" formControlName="last_name" required>
                            <div class="invalid-message text-sm font-medium text-red-700" *ngIf="errorLtName">
                                {{errorLtNameMsg}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="required-label">Contact</label>
                            <input type="tel" name="phone" id="phone" class="form-control" placeholder="Your Contact" formControlName="phone"
                                required>
                            <div class="invalid-message text-sm font-medium text-red-700" *ngIf="errorPhone">
                                {{errorPhoneMsg}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="required-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email" formControlName="email"
                                required>
                            <div class="invalid-message text-sm font-medium text-red-700" *ngIf="errorEmail">
                                {{errorEmailMsg}}
                            </div>
                        </div>
                        <div class="form-group flex-grow">
                            <label for="message" class="required-label">Message</label>
                            <textarea name="message" id="message"
                                class="w-full h-full" formControlName="message" required>Your messages or queries.....</textarea>
                            <div class="invalid-message text-sm font-medium text-red-700" *ngIf="errorMessage">
                                {{errorMessageMsg}}
                            </div>
                        </div>
                    </div>
                    <div class="actions-container mt-auto">
                        <button type="submit"
                            class="w-full block bg-primary text-base text-white p-[5px_20px] rounded-[5px] text-center">Get
                            in touch</button>
                    </div>
                </form>
            </article>
        </article>

        </div>
    </div>
</section>