<section class="admin-dashboard-section admin-section-component">
    <header class="dashboard-header admin-section-header">
        <h2 class="header-text">Dashboard</h2>
    </header>
    <article class="dashboard-container admin-section-body !bg-transparent !flex-none !shadow-none pb-[30px]">
        <div class="number-card">
            <div class="product-num-card detail-card !flex-row !items-center dashboard-card">
                <div class="icon bg-primary rounded-md">
                    <fa-icon [icon]="faSpa"></fa-icon>
                </div>
                <div class="details">
                    <div class="detail-card-header flex items-center justify-between gap-3 !pb-0">
                        <h2 class="header-text text-[18px] md:text-[21px]"> Total Products</h2>
                    </div>

                    <div class="detail-card-body flex items-center gap-2">
                        <h2 class="text-primary text-[32px]">{{totalProducts}}</h2>
                    </div>
                </div>
            </div>
             <div class="product-category-num-card detail-card dashboard-card">
                <div class="icon bg-primary rounded-md">
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <div class="details">
                    <div class="detail-card-header flex items-center justify-between gap-3 !pb-0">
                        <h2 class="header-text text-[18px] md:text-[21px]"> Product Categories
                        </h2>
                    </div>

                    <div class="detail-card-body">
                        <h2 class="text-primary text-[32px]">{{totalProductCategory}}</h2>
                    </div>
                </div>
            </div>
             <div class="orders-num-card detail-card dashboard-card">
                <div class="icon bg-primary rounded-md">
                    <fa-icon [icon]="faReceipt"></fa-icon>
                </div>
                <div class="details">
                    <div class="detail-card-header flex items-center justify-between gap-3 !pb-0">
                        <h2 class="header-text text-[18px] md:text-[21px]"> Total Orders</h2>
                    </div>

                    <div class="detail-card-body">
                        <h2 class="text-primary text-[32px]">{{totalOrders}}</h2>
                    </div>
                </div>
            </div>
            <div class="signedup-users-num-card detail-card dashboard-card">
                <div class="icon bg-primary rounded-md">
                    <fa-icon [icon]="faUsers"></fa-icon>
                </div>
                <div class="details">
                    <div class="detail-card-header flex items-center justify-between gap-3 !pb-0">
                        <h2 class="header-text text-[18px] md:text-[21px]"> Total Users</h2>
                    </div>

                    <div class="detail-card-body">
                        <h2 class="text-primary text-[32px]">35</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="most-ordered-products-card detail-card">
            <div class="detail-card-header flex items-center justy-between gap-3">
                <h2 class="header-text text-[18px] md:text-[21px]">
                    Top Products
                </h2>
            </div>
            <div class="detail-card-body">
                <div class="table-container h-full">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th>Product Name</th>
                                <th>Product Category</th>
                                <th>Product Price</th>
                                <th>Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of repeatedProducts; let i=index">
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    <div class="flex items-center">
                                        <div class="img-container w-[90px] h-[90px] flex-[0_0_90px] rounded-md overflow-hidden flex items-center justify-center">
                                                <img class="w-full h-auto object-contain" src="{{item.image_url}}" alt=""> 
                                            </div>
                                        <h2 class="product-name pl-[10px] flex-grow">{{item.prod_name}}</h2>
                                    </div>
                                </td>
                                <td>{{item.prod_category}}</td>
                                <td>Rs.&nbsp;{{item.prod_price}}</td>
                                <td>{{item.frequency}}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div> 
    </article>
</section>
