$headerColor: #daf9f9;


.table-container {
    overflow-x: auto;
}

.data-table {
    width: 100%;

    thead {
        tr {
            th {
                font-weight: 600;
                color: #2e2e2e;
                font-size: 17px;
                position: relative;
                white-space: nowrap;
                position: sticky;
                top: 0;
                background-color: $headerColor;
                z-index: 500;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 60%;
                    width: 1px;
                    background-color: #7a7a7a;
                }

                &:last-child {
                    &:after {
                        content: unset;
                    }
                }
            }
        }
    }

    tr {

        th,
        td {
            padding: 12px 15px;
            text-align: left;

            // &:first-child {
            //     border-top-left-radius: 8px;
            //     border-bottom-left-radius: 8px;
            // }

            // &:last-child {
            //     border-top-right-radius: 8px;
            //     border-bottom-right-radius: 8px;
            // }
        }

    }

    tbody {
        tr {
            border-radius: 8px;
            &:nth-child(even) {
                background-color: #efefef;
            }
        }
    }
}