<div class="table-container h-full">
    <table class="data-table">
        <thead>
            <tr>
                <th>S.n</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsList; let i=index">
                <app-data-grid-row [item]=item [index]=i class="contents"></app-data-grid-row>
           </tr>
        </tbody>
    </table>
</div>

