@import "/src/vars";

.cart-items-table {
    width: 100%;
    border-collapse: seperate;

    thead {
        tr {
            background-color: #efefef !important;
        }
    }

    tr {
        .close-btn-sp {
            display: none;
        }

        &:nth-child(even) {
            background-color: #efefef;
        }

        &:nth-child(odd) {
            background-color: #bdbdbd;
        }
    }

    th,
    td {
        padding: 5px 12px;

        &[data-name="price"],
        &[data-name="total"] {
            text-align: right;
        }

        &[data-name="name"] {
            text-align: left;
        }

        &[data-name="quantity"],
        &[data-name="action"] {
            text-align: center;
        }
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    .form-group {
        flex: 0 0 calc(100%);
    }
}

@media screen and (min-width: 768px) {
    .form-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .form-group {
            flex: 0 0 calc(100%/2);

            &:nth-child(odd) {
                padding-right: 10px;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cart-items-table {
        thead {
            display: none;
        }

        tbody {
            tr {
                position: relative;

                .close-btn-sp {
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    display: flex;
                }

                td {
                    &[data-name="name"] {
                        padding-top: 20px;
                    }

                    &:nth-last-child(2) {
                        padding-bottom: 20px;
                    }
                }
            }

            td {
                display: block;
                text-align: center !important;

                &:not([data-name="name"]) {
                    &:before {
                        content: attr(data-name) ": ";
                        text-transform: capitalize;
                        font-weight: 500;
                        padding-right: 10px;
                    }
                }

                &[data-name="action"] {
                    display: none;
                }
            }
        }
    }
}

.checkout-form {
    .header-text {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: 500;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

        label {
            font-weight: 400;
            font-size: 14.5px;
            position: relative;

            &.required-label {
                &::after {
                    content: '*';
                    position: absolute;
                    color: red;
                    bottom: 0;
                    transform: translateY(-50%);
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }

        input {
            padding: 5px;
            font-size: 14.5px;
        }
    }
}

.table-border {
    border: 1px solid #000;
}

.receipt-table {

    th,
    td {
        text-align: left;
        padding: 5px;
        // white-space: nowrap;
    }

    th,
    td {
        &[data-name="sn"] {
            width: 30px;
            text-align: center;
        }

        &[data-name="quantity"] {
            width: 60px;
            text-align: center;
        }

        &[data-name="price"],
        &[data-name="total"],
        &[data-name="subtotal"] {
            text-align: right
        }
    }

    thead {
        border-bottom: 1px solid #000;

    }

    tfoot {
        border-top: 1px solid #000;
    }

    tr {

        th,
        td {
            border-right: 1px solid #000;

            &:last-child {
                border-width: 0;
            }
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid #000;

            &:last-child {
                border-width: 0;
            }
        }
    }
}






@media screen and (max-width: 640px) {
    .cart-details-container {
        .header-text {
            padding: 10px 10px 10px 0 !important;
            // background-color: $theme;
            // background-color: #0F5F2F;
            // color: #fff;
        }
    }
}