<section class="cart-section dynamic-section">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-link">Cart</a>
            </li>
        </ul>

        <article class="cart-details-container h-[calc(100%-51px)] flex flex-col md:flex-row md:pb-[30px]">
            <article class="cart-items-container pb-[10px] md:pb-0 md:pr-[10px] flex-grow overflow-y-auto">
                <div
                    class="title-container flex justify-between  pb-[15px] md:sticky md:top-0 bg-[#e1e1e1] z-[10] header-text">
                    <h2 class="text-lg md:text-2xl">Shopping Cart
                    </h2>
                    <span class="items-counter text-lg">{{cartItems.length > 1 ? cartItems.length + " items" :
                        cartItems.length === 0 ? cartItems.length + " items" : cartItems.length + " item" }}</span>
                </div>
                <table class="cart-items-table">
                    <thead>
                        <tr>
                            <th data-name="name">Product</th>
                            <th data-name="quantity">Quantity</th>
                            <th data-name="price">Price</th>
                            <th data-name="total">Total</th>
                            <th data-name="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems">
                            <button
                                class="close-btn-sp text-white w-[25px] h-[25px] bg-primary rounded-full inline-flex items-center justify-center"
                                (click)="removeCartItem(item)">
                                <fa-icon [icon]="faClose" class="flex items-center justify-center"></fa-icon>
                            </button>
                            <td data-name="name">
                                <div class="inline-flex flex-col items-center xl:flex-row w-full">

                                    <div class="img-container max-w-[175px] xl:max-w-[120px] mx-auto lg:mx-0">
                                        <img src="{{item.img}}" alt="" class="w-full h-auto object-contain">
                                    </div>
                                    <div class="product-info xl:pl-[10px]">
                                        <div class="name font-[500]">{{item.name}}</div>
                                        <div class="type text-primary text-[14px]">{{item.type}}</div>
                                    </div>
                                </div>
                            </td>
                            <td data-name="quantity">
                                <div class="quantity-setting inline-flex items-center">
                                    <button
                                        class="leading-[0] decrease-quantity h-[25px] w-[25px] flex items-center justify-center bg-slate-300"
                                        type="button" (click)="decreaseCartItemQuantity(item)">
                                        <fa-icon [icon]="faMinus" class="flex items-center justify-center"></fa-icon>
                                    </button>
                                    <!-- <span
                                        class="product-quantity-data text-lg px-5 w-[35px] flex justify-center items-center">
                                        {{item.quantity}}
                                    </span> -->
                                    <input type="number" name="" id="" [value]="item.quantity"
                                        class="hide-arrows product-quantity-num max-w-[60px] px-[8px] h-[25px] mx-[2px] text-center"
                                        (change)="setProductQuantity($event,item)" required #productQuantityInput>
                                    <button
                                        class="leading-[0] increase-quantity h-[25px] w-[25px] flex items-center justify-center bg-slate-300"
                                        type="button" (click)="increaseCartItemQuantity(item)">
                                        <fa-icon [icon]="faPlus" class="flex items-center justify-center"></fa-icon>
                                    </button>
                                </div>
                            </td>
                            <td data-name="price">Rs.&nbsp;{{item.price}}</td>
                            <td data-name="total">Rs.&nbsp;{{item.total}}</td>
                            <td data-name="action">
                                <button
                                    class="close-btn text-white w-[25px] h-[25px] bg-primary rounded-full inline-flex items-center justify-center"
                                    (click)="removeCartItem(item)">
                                    <fa-icon [icon]="faClose" class="flex items-center justify-center"></fa-icon>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="cart-total-recipt-sp hidden p-[15px] bg-[#e1e1e1]  border-t border-black">
                    <ul class="receipt-list flex w-fill flex-col pb-[25px]">
                        <li class="receipt-list-item flex">
                            <span class="label-text flex-grow font-semibold text-[#282828]">Order Subtotal:</span>
                            <span class="data flex-grow font-semibold justify-end">Rs.&nbsp;{{subTotal}}</span>
                        </li>
                    </ul>
                </div>
            </article>
            <aside
                class="total-amount-receipe block pt-[10px] md:pl-[10px] md:pt-0 flex-grow w-full md:max-w-[335px] lg:max-w-[450px]">
                <h2 class="text-lg md:text-2xl pb-[15px] header-text hidden md:block">Cart Summary</h2>
                <div class="receipt-list-container p-[15px] md:p-[25px] rounded-[10px] bg-[#efefef] sticky top-0">
                    <ul class="receipt-list flex w-fill flex-col">
                        <li class="receipt-list-item flex">
                            <span class="label-text flex-grow font-semibold text-[#282828]">Order Subtotal:</span>
                            <span class="data flex-grow font-semibold justify-end">Rs.&nbsp;{{subTotal}}</span>
                        </li>
                    </ul>
                    <form class="checkout-form py-[35px]" [formGroup]="checkoutForm" (submit)="checkout()">
                        <h2 class="header-text">Checkout Details</h2>
                        <!-- <p *ngIf="formMessage" class="py-2 text-red-700 font-medium text-md">{{formMessage}}</p> -->
                        <div class="form-group">
                            <label for="ftname" class="required-label">First Name</label>
                            <input type="text" name="ftname" id="name" class="" [ngClass]="getFieldClass('ftname')"
                                placeholder="Your First Name" formControlName="ftname" required>
                            <div class="invalid-msg text-red-700 font-medium text-sm" *ngIf="errorFtName">
                                {{errorFtNameMsg}}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="ltname" class="required-label">Last Name</label>
                            <input type="text" name="ltname" id="name" class="" [ngClass]="getFieldClass('ltname')"
                                placeholder="Your Last Name" formControlName="ltname" required>
                            <div class="invalid-msg text-red-700 font-medium text-sm" *ngIf="errorLtName">
                                {{errorLtNameMsg}}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="phone" class="required-label">Phone</label>
                            <input type="tel" name="phone" id="phone" class="" [ngClass]="getFieldClass('phone')"
                                placeholder="Your Phone" formControlName="phone" required>
                            <div class="invalid-msg text-red-700 font-medium text-sm" *ngIf="errorPhone">
                                {{errorPhoneMsg}}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="email" class="required-label">Email</label>
                            <input type="email" name="email" id="email" class="" [ngClass]="getFieldClass('email')"
                                placeholder="Your Email" formControlName="email">
                            <div class="invalid-msg text-red-700 font-medium text-sm" *ngIf="errorEmail">
                                {{errorEmailMsg}}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="address" class="required-label">Address</label>
                            <input type="text" name="address" id="address" class="" [ngClass]="getFieldClass('address')"
                                placeholder="Your Address" formControlName="address" required>
                            <div class="invalid-msg text-red-700 font-medium text-sm" *ngIf="errorAddress">
                                {{errorAddressMsg}}
                            </div>
                        </div>
                    </form>
                    <div class="actions-container flex justify-between items-center">
                        <a routerLink="/home/products" role="button" class="text-primary">Continue Shopping?</a>
                        <button type="button" class="flex p-[5px_20px] bg-primary text-lg text-white rounded-full"
                            [ngClass]="cartItems.length < 1 || !subTotal || subTotal === 0 ? 'disabled' : ''"
                            (click)="checkout()"
                            [disabled]="cartItems.length < 1 || !subTotal || subTotal === 0">Checkout</button>
                    </div>

                </div>

            </aside>
        </article>

        <article class="receipt-container w-full flex justify-center bg-[#0007] z-[999] absolute top-0 left-0 bottom-0 right-0 h-full overflow-y-auto" [ngClass]="paymentReceipt && showBill ? 'block' : 'hidden' ">
            <button type="button" class="close-btn w-[35px] h-[35px] absolute top-[20px] right-[20px] rounded-full flex items-center justify-center bg-primary" (click)="closeBill()">
                <fa-icon [icon]="faClose" class="text-white text-[25px]"></fa-icon>
            </button>
            <div class="table-container max-w-[768px] max-h-[842px] w-full p-[15px] md:p-[30px] bg-white" id="payment-receipt">
                <header class="table-header text-center pb-[25px] md:pb-[50px]">
                    <h2 class="company-name text-[18px] md:text-[35px]">
                        Sanu's Nursery
                    </h2>
                    <p class="text-[8px] md:text-[15px]">Dhapakhel-24, Lalitpur</p>
                    <p class="text-[8px] md:text-[15px]">+9779851243855, +9779841218573</p>
                </header>
                <div class="customer-info flex flex-wrap w-full pb-[12px] md:pb-[20px] text-[8px] md:text-base">
                    <div class="customer-info-item flex-[1_0_calc(100%)] pb-[2px] md:pb-2">
                        <span class="label-text pr-2">Date:</span>
                        <span class="data">{{ paymentReceipt?.date }}</span>
                    </div>
                    <div class="customer-info-item flex-[1_0_calc(100%/2)] pb-[2px] md:pb-2">
                        <span class="label-text pr-2">Name:</span>
                        <span class="data break-words">{{ paymentReceipt?.name }}&nbsp;{{ checkoutForm.value.ltname }}</span>
                    </div>
                    <div class="customer-info-item flex-[0_0_calc(100%/2)] pb-[2px] md:pb-2">
                        <span class="label-text pr-2">Phone:</span>
                        <span class="data">{{ paymentReceipt?.phone }}</span>
                    </div>
                    <div class="customer-info-item flex-[0_0_calc(100%/2)] pb-[2px] md:pb-2">
                        <span class="label-text pr-2">Address:</span>
                        <span class="data">{{ paymentReceipt?.address }}</span>
                    </div>
                </div>

                <div class="table-border table-responsive overflow-x-auto">

                    <table class="receipt-table w-full text-[8px] md:text-base">
                        <thead>
                            <tr>
                                <th data-name="sn">S.N</th>
                                <th data-name="name">Product</th>
                                <th data-name="quantity">Quantity</th>
                                <th data-name="price">Price</th>
                                <th data-name="total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of paymentReceipt?.products; let i=index">
                                <td data-name="sn">{{i+1}}</td>
                                <td data-name="name">{{item.name}}</td>
                                <td data-name="quantity">{{item.quantity}}</td>
                                <td data-name="price">{{item.price}}</td>
                                <td data-name="total">{{item.total}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">

                                </td>
                                <td data-name="subtotal" class="font-[700]">Sub Total</td>
                                <td data-name="subtotal">{{paymentReceipt?.subTotal}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </article>
    </div>

</section>