.admin-list-link {
	// border-radius: 100vh;
	&:hover,
	&.active {
		background-color: #3D878A;
		color: #fff;
	}
	margin-top: 5px;
}

.multi-level-menu{
	&:has(.sub-menu-container .admin-list-link.active){
		.top-menu{
			background-color: #3D878A;
		}
	}
}

