<div class="cursor-pointer multi-level-menu" *ngIf="item.subMenu; else directLink" (click)="toggleSubMenu()">
	<span class="top-menu flex items-center p-[10px_30px] hover:bg-[#3D878A]">
	    <span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
	        <fa-icon [icon]=item.icon></fa-icon>
	    </span>
	    <span class="label-text capitalize pl-[8px]">{{item.name}}</span>
	    <span class="icon-container h-[25px] w-[25px] flex items-center justify-center ml-auto" *ngIf="item.subMenu">
	        <fa-icon [icon]="faChevronRight" *ngIf="!dspSubMenu"></fa-icon>
	        <fa-icon [icon]="faChevronDown" *ngIf="dspSubMenu"></fa-icon>
	    </span>
   	</span>
	<span class="sub-menu-container flex flex-col" *ngIf="item.subMenu" [ngClass]="dspSubMenu || hasActiveLinks ? 'block' : 'hidden'" #checkForActiveChildren>
		<ng-container *ngFor="let sb of item.subMenu">
			<a routerLink="/admin/{{sb.link}}/" routerLinkActive="active" class="admin-list-link flex items-center p-[10px_30px_10px_50px]" *ngIf="!sb.linkParams">
				<span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
			        <fa-icon [icon]="faCircle"></fa-icon>
			    </span>
			    <span class="label-text capitalize pl-[8px]">{{sb.name}}</span>
			</a>
			<a [routerLink]="['/admin/'+sb.link+'/','']" routerLinkActive="active" class="admin-list-link flex items-center p-[10px_30px_10px_50px]" *ngIf="sb.linkParams">
				<span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
			        <fa-icon [icon]="faCircle"></fa-icon>
			    </span>
			    <span class="label-text capitalize pl-[8px]">{{sb.name}}</span>
			</a>
		</ng-container>
		
	</span>
</div>
<ng-template #directLink>
	<a routerLink="/admin/{{item.name}}" class="admin-list-link flex items-center p-[10px_30px]" routerLinkActive="active">
	    <span class="icon-container h-[25px] w-[25px] flex items-center justify-center">
	        <fa-icon [icon]=item.icon></fa-icon>
	    </span>
	    <span class="label-text capitalize pl-[8px]">{{item.name}}</span>
	</a>
</ng-template>