 <div class="table-header flex items-center justify-start md:justify-end p-[10px_15px] border-b border-slate-300 sticky top-0 bg-white z-[500]">
    <form class="relative w-[100%] max-w-[unset] md:max-w-[250px]" [formGroup]="searchProductListForm">
        <input type="text" name="searchTableText" id="searchTable" class="form-control border border-slate-400 p-[5px_35px_5px_10px] rounded-md text-sm w-full" placeholder="Search..." formControlName="searchProductListText" (input)="searchProduct($event)">
        <span class="icon-container w-[25px] h-[25px] absolute top-[50%] right-[10px] translate-y-[-50%] flex items-center justify-center">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
    </form>
</div>
<div class="table-container h-full">
    <table class="data-table">
        <thead>
            <tr>
                <th>S.n</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsList; let i=index">
                <app-data-grid-row 
                    [item]=item 
                    [index]=i 
                    class="contents">
                </app-data-grid-row>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-footer mt-auto border-t border-slate-400 p-[10px_15px]">
    <div class="flex justify-center flex-wrap gap-2">
        <form [formGroup]="pageSizeFilterForm" class="items-per-page-wrapper flex items-center">
            <label for="pageSizeFilter" class="mb-0 items-per-page-text pr-[10px]">Items per page:</label>
            <select name="items-per-page" id="pageSizeFilter" class=" border border-slate-400 rounded-md p-[2px_5px]" formControlName="sortPageSize" (change)="changePageSize($event)">
                <option value="6">6</option>
                <option value="15">15</option>
                <option value="25">25</option>
            </select>
        </form>
        <!-- <div class="page-desc flex items-center flex-col md:flex-row"> -->
            <div class="showing-page flex items-center flex-grow justify-end md:flex-grow-0 md:pr-[10px] ml-auto">
                {{page}} of {{totalPages}} pages
            </div>
            <div class="page-state-control-btns flex gap-1 justify-center">
                <button type="button" class="border border-slate-400 rounded-md p-[5px] w-[30px] h-[30px] flex items-center justify-center bg-white" (click)="firstPage()" [disabled]="page === 1" [ngClass]="page === 1 ? 'cursor-not-allowed' : ''">
                    <span class="icon-container flex items-center justify-center">
                        <fa-icon [icon]="faAnglesLeft" class="flex items-center justify-center" [ngClass]="page === 1 ? 'text-slate-400 cursor-not-allowed' : 'text-slate-800'"></fa-icon>
                    </span>
                </button>
                <button type="button" class="border border-slate-400 rounded-md p-[5px] w-[30px] h-[30px] flex items-center justify-center bg-white" (click)="prevPage()" [disabled]="page === 1" [ngClass]="page === 1 ? 'cursor-not-allowed' : ''">
                    <span class="icon-container flex items-center justify-center">
                        <fa-icon [icon]="faChevronLeft" class="flex items-center justify-center" [ngClass]="page === 1 ? 'text-slate-400 cursor-not-allowed' : 'text-slate-800'"></fa-icon>
                    </span>
                </button>
                <button type="button" class="border border-slate-400 rounded-md p-[5px] w-[30px] h-[30px] flex items-center justify-center bg-white" (click)="nextPage()" [disabled]="page == totalPages"  [ngClass]="page == totalPages ? 'cursor-not-allowed' : ''">
                    <span class="icon-container flex items-center justify-center">
                        <fa-icon [icon]="faChevronRight" class="flex items-center justify-center" [ngClass]="page == totalPages ? 'text-slate-400 cursor-not-allowed' : 'text-slate-800'"></fa-icon>
                    </span>
                </button>
                <button type="button" class="border border-slate-400 rounded-md p-[5px] w-[30px] h-[30px] flex items-center justify-center bg-white" (click)="lastPage()" [disabled]="page == totalPages"  [ngClass]="page == totalPages ? 'cursor-not-allowed' : ''">
                    <span class="icon-container flex items-center justify-center">
                        <fa-icon [icon]="faAnglesRight" class="flex items-center justify-center" [ngClass]="page == totalPages ? 'text-slate-400 cursor-not-allowed' : 'text-slate-800'"></fa-icon>
                    </span>
                </button>
            </div>
        <!-- </div> -->
    </div>
</div>