<footer class="main-footer bg-[#909e8c] py-12" id="contact">
    <div class="inner-container flex items-center justify-between">
        <div class="left-content">
            <a href="#" class="brand-link text-3xl company-name">Sanu's Nursery</a>
            <ul class="contact-info mt-3">
                <li class="info-item mb-2">
                    <div class="title-text font-semibold">Address:</div>
                    <div class="data">Dhapakhel-24, Lalitpur, Nepal</div>
                </li>
                <li class="info-item">
                    <div class="title-text font-semibold">Contact:</div>
                    <div class="data"><a href="tel:+9779851243855">Rabindra Bista: 9851243855</a></div>
                    <div class="data"><a href="tel:+9779841218573">Sanu Kumari Maharjan: 9841218573</a></div>
                </li>
            </ul>
        </div>
        <!-- <div class="right-content">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="#" class="menu-link flex">Home</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link flex">Products</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link flex">About</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link flex">Contant</a>
            </li>
        </ul>
    </div> -->
    </div>
</footer>