<section class="about-section dynamic-section">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home/about" class="breadcrumb-link">About</a>
            </li>
        </ul>

        <article class="about-us-desc pb-[15px]">
            <h2 class="title-text text-xl md:text-3xl lg:text-4xl pb-[15px] lg:pb-[20px] text-center">About Us</h2>
            <p class="about-us-detail pb-4">
                At Sanu's Nursery, we are passionate about plants and nature. What started as a response to the
                pandemic has blossomed into a thriving plant nursery. Our journey began when we recognized the need for
                greenery and natural beauty in people's lives during these challenging times. Inspired by the healing
                power of plants and the desire to create a serene environment, we embarked on a mission to provide a
                wide range of plants to our community.
            </p>
            <p class="about-us-detail">
                As a locally-owned and operated plant nursery, we are deeply committed to our community and the
                environment. We strive to promote sustainable practices by using eco-friendly materials, offering
                organic options, and advocating for responsible gardening. We also actively participate in community
                initiatives, collaborating with local organizations to spread awareness about the benefits of plants and
                fostering a love for nature among people of all ages.
            </p>
        </article>
    </div>
</section>