<td>{{i!+1}}</td>
<td>{{item.order_date.split('T')[0]}}</td>
<td>
    <a [routerLink]="['/admin/order-detail/',item.order_id]" class="text-blue-700">
        {{item.order_number}}
    </a>
</td>
<td>Rs.&nbsp;{{item.order_total}}</td>
<td>
    <div class="status"
        [ngClass]="item.order_status === 'PENDING' ? 'pending' : item.order_status === 'COMPLETED' ? 'completed' : item.order_status === 'CANCELLED' ? 'cancelled' : ''">
        {{item.order_status}}
    </div>
</td>
<td>
    <div class="options-dropdown relative">
        <button type="button"
            class="w-[24px] h-[24px] p-[10px] bg-blue-200 rounded-md flex items-center justify-center" (click)="toggleDropdown()">
            <fa-icon [icon]="faEllipsis" class="text-[15px] flex items-center justify-center"></fa-icon>
        </button>
        <ul
            class="dropdown-list absolute bg-white border border-slate-300 shadow-lg top-full right-[calc(100%-24px)] rounded-md z-[200] text-[15px]" [ngClass]="showDropdown ? 'block' : 'hidden'">
            <li class="dropdown-item">
                <a class="dropdown-link flex p-[5px_10px] hover:bg-slate-300 cursor-pointer" [routerLink]="['/admin/order-detail',item.order_id]">View Details</a>
            </li>
            <li class="dropdown-item">
                <a class="dropdown-link flex p-[5px_10px] hover:bg-slate-300 cursor-pointer">Delete</a>
            </li>
        </ul>
    </div>
</td>