<td>{{i!+1}}</td>
<td>{{item.order_date.split('T')[0]}}</td>
<td>
    <a [routerLink]="['/admin/order-detail/',item.order_id]" class="text-blue-700">
        {{item.order_number}}
    </a>
</td>
<td>Rs.&nbsp;{{item.order_total}}</td>
<td>
    <div class="status"
        [ngClass]="item.order_status === 'PENDING' ? 'pending' : item.order_status === 'COMPLETED' ? 'completed' : item.order_status === 'CANCELLED' ? 'cancelled' : ''">
        {{item.order_status}}
    </div>
</td>
<td>
    <div class="options-dropdown">
        <button type="button"
            (click)="toggleDropdown()">
            <fa-icon [icon]="faEllipsis"></fa-icon>
        </button>
        <ul
            class="dropdown-list" [ngClass]="showDropdown ? 'block' : 'hidden'">
            <li class="dropdown-list-item">
                <a class="dropdown-list-link" [routerLink]="['/admin/order-detail',item.order_id]">View Details</a>
            </li>
            <li class="dropdown-list-item">
                <a class="dropdown-list-link">Delete</a>
            </li>
        </ul>
    </div>
</td>