<td>{{i!+1}}</td>
<td>{{item.order_date.split('T')[0]}}</td>
<td>{{item.order_number}}</td>
<td>{{item.user_id === null ? 'Guest' : 'Registered'}}</td>
<td>{{item.user_email}}</td>
<td>{{item.user_contact}}</td>
<td>{{item.order_total}}</td>
<td>
    <div *ngIf="paymentType === 'cash';else logoContainer">
        <div class="cash-on-delivery flex items-center gap-3">
            <span class="icon-container h-[24px] w-[24px] flex items-center justify-center">
                <fa-icon [icon]="faCashWave" class="text-[20px] flex items-center justify-center text-[#56a83f]"></fa-icon>
            </span>
            <span class="lable-text">
                Cash On Delivery
            </span>
        </div>
    </div>
    <ng-template #logoContainer>
        <div class="img-container-md">
            <div class="logo-container" [ngClass]="paymentType === 'esewa' ? 'esewa' : paymentType === 'khalti' ? 'khalti' : ''"></div>
        </div>
    </ng-template>
</td>
<td>
    <div class="status"
        [ngClass]="item.payment_status === 'PENDING' ? 'pending' : item.payment_status === 'COMPLETED' ? 'completed' : item.payment_status === 'CANCELLED' ? 'cancelled' : ''">
        {{item.payment_status}}
    </div>
</td>
<td>
    <div class="status"
        [ngClass]="item.order_status === 'PENDING' ? 'pending' : item.order_status === 'COMPLETED' ? 'completed' : item.order_status === 'CANCELLED' ? 'cancelled' : ''">
        {{item.order_status}}
    </div>
</td>
<td>{{item.delivery_address}}</td>
<td>Action</td>