/* You can add global styles to this file, and also import other style files */
@import "./vars";

@tailwind base;
@tailwind components;
@tailwind utilities;

.close-btn,
.close-btn-sp {
    fa-icon {
        svg {
            width: 100%;
            text-align: center;
        }
    }
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button{
    display: none;
    margin: 0;
    pointer-events: none;
}

.hide-arrows{
    -moz-appearance: textfield;
}

.is-invalid{
    border: 1px solid red!important;
}


.text-primary {
    color: $theme;
}

.text-admin-primary{
    color: $adminTheme;
}

.bg-primary {
    background-color: $theme;
}

.bg-admin-primary{
    background-color: $adminTheme;
}

.bg-outline-primary {
    border: 1px solid $theme;
}

.bg-outline-admin-primary {
    border: 1px solid $adminTheme;
}

.disabled{
    $color: #8d8d8d;
    background-color: $color !important;
    color: #fff!important;
    cursor: not-allowed;
    &.bg-outline-primary{
        background-color: unset!important;
        border-color: $color;
        color: $color!important;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.company-name {
    font-family: 'Courgette', cursive;
}

.wrapper {
    color: #000;
}

.inner-container {
    height: 100%;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

.content {
    background-image: url("./assets/images/hero.jpg");
    background-size: cover;
    background-position: center center;
}

section {
    background-color: #e1e1e1;
}

.static-section {
    // min-height: calc(100vh - 72px);
    height: calc(100vh - 72px);
    // position: relative;

    &.only-section{
        height: calc(100vh - 112px);
    }
}

.dynamic-section {
    min-height: calc(100vh - 72px);
}

.grid-list {
    display: flex;
    flex-wrap: wrap;

    .grid-list-item {
        flex: 0 0 calc(100% / 3);
        max-width: 335px;
    }
}

.related-products-container {
    position: relative;

    .scroll-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        &.scroll-left {
            left: -35px;
        }

        &.scroll-right {
            right: -35px;
        }
    }
}

.grid-list-nowrap {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;


    &::-webkit-scrollbar {
        display: none;
    }

    .grid-list-item {
        // flex: 0 0 calc(100% / 4);
        flex: 0 0 calc(100% / 3);
        max-width: 290px;
        scroll-snap-align: center;
    }
}

.breadcrumb-list {
    display: flex;
    align-items: center;
    padding: 15px 0;
    white-space: nowrap;
    overflow-y: auto;

    .breadcrumb-item {
        position: relative;

        &:first-child{
            .breadcrumb-link{
                padding-left: 0;
            }
        }
        .breadcrumb-link {
            display: flex;
            padding: 0 15px;
            font-size: 14px;
            text-transform: capitalize;
        }

        &::after {
            content: '>';
            color: #000;
            position: absolute;
            right: -4px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
        }

        &:last-child {
            &::after {
                display: none;
            }

            .breadcrumb-link {
                color: $theme;
            }
        }
    }
}

.circle-button,
.circle-outline-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.circle-button {
    background-color: $theme;
    color: #fff;
}

.circle-outline-button {
    border: 1px solid $theme;
    color: $theme;
}

@media screen and (max-width: 768px) {

    .grid-list,
    .grid-list-nowrap {
        .grid-list-item {
            flex: 0 0 calc(100%/2);
        }
    }

    .grid-list-nowrap {
        padding-left: calc(calc(100% - 580px) / 2);
        padding-right: calc(calc(100% - 580px) / 2);
    }
}

@media screen and (max-width: 620px) {
    .inner-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid-list,
    .grid-list-nowrap {
        .grid-list-item {
            flex: 0 0 100%;
        }
    }

    .grid-list {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .grid-list-nowrap {
        padding-left: calc(calc(100% - 290px) / 2);
        padding-right: calc(calc(100% - 290px) / 2);
    }
}

@media screen and (min-width: 1156px) {
    .inner-container {
        // max-width: 1156px;
        // max-width: 875px;
        max-width: 960px;
        padding-left: 0;
        padding-right: 0;
    }

    .grid-list {
        .grid-list-item {
            // flex: 0 0 calc(100%/4);
            flex: 0 0 calc(100%/3);
        }
    }
}

@media screen and (max-width: 1300px) {
    .related-products-container {
        .scroll-btn {
            &.scroll-left {
                left: -7.5px;
            }

            &.scroll-right {
                right: -7.5px;
            }
        }
    }
}

#checkdv_1{
    display: none;
}