<section class="page-not-found-section dynamic-section bg-[#e1e1e1]">
    <div class="inner-container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-link">Page not found</a>
            </li>
        </ul>
        <article class="text-center py-[20px]">
            <h2 class="text-primary text-[20px] md:text-[36px]">Page not found!</h2>
        </article>
    </div>
</section>