<td>{{index+1}}</td>
<td>
<div class="flex items-center py-[10px]">
    <div
        class="img-container w-[90px] h-[90px] flex-[0_0_90px] md:w-[150px] md:h-[150px] md:flex-[0_0_150px] rounded-md overflow-hidden flex items-center justify-center bg-blue-300">
        <img src="{{item.prod_img}}" alt="" class="w-full h-auto object-contain">
    </div>
    <h2 class="product-name pl-[10px] flex-grow">{{item.prod_name}}</h2>
    </div>
</td>
<td>
    <h2 class="product-category">{{item.prod_category}}</h2>
</td>
<td>
    <h2 class="product-price">{{item.prod_price}}</h2>
</td>
<td>
    <h2 class="product-inStock">{{item.prod_inStock}}</h2>
</td>
<td>
    <div class="options-dropdown relative">
        <button type="button"
            class="w-[30px] h-[30px] p-[10px] bg-blue-200 rounded-md flex items-center justify-center" (click)="toggleDropdown()">
            <fa-icon [icon]="faEllipsis" class="text-[18px]"></fa-icon>
        </button>
        <ul class="dropdown-list absolute min-w-[120px] border border-slate-300 shadow-lg bg-white top-full right-[calc(100%-35px)] rounded-md z-[200]" [ngClass]="showDropdown ? 'block' : 'hidden'">
            <li class="dropdown-list-item">
                <a class="dropdown-list-link flex p-[5px_10px] hover:bg-slate-300">Edit</a>
            </li>
            <li class="dropdown-list-item">
                <a class="dropdown-list-link flex p-[5px_10px] hover:bg-slate-300">Delete</a>
            </li>
        </ul>
    </div>
</td>
